<%- include("partials/header") %>
<h1>Home</h1>
<p><%= startingContent %></p>


<%  posts.forEach( function (post){ %>
<div class="card we" style="width:30rem; background-color:#7952B3;padding: 10px;">
    <div class="card-body" style="margin: auto; color: white;">
        <h1><%= post.title %></h1>
        <p><%= post.content.substring(0,100) + "..." %> <a href=" ./posts/<%= post.title%>">Read More</a></p>
    </div>
</div>
<% }); %>



<%- include("partials/footer") %>